management:
  endpoints:
    web:
      exposure:
        include: "*"
 
spring: 
  jpa: 
    properties: 
      hibernate: 
        dialect: org.hibernate.dialect.MySQL5Dialect
    hibernate: 
      ddl-auto: update


greetingLanguage: English

eureka:
  client:
    enabled: false

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    io:
      pivotal:
         pace: debug
---
spring: 
  profiles: dev
greetingLanguage: French
---
spring: 
  profiles: prod
greetingLanguage: Spanish
    